# Entorno virtual 
/venv/

# Archivos de caché de Python
__pycache__/
*.pyc
*.pyo
*.pyd


*.bin
*.npy

# Archivos de configuración de VS Code
.vscode/

config.json

# Comprobación de los documentos en la base de datos
check_db.py